@{ 
    ViewData["Title"] = "Carousel";
}

@model List<Produto>;

<h3>Catalogue</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{ const int pageSize = 4;
                        int pages = (int)Math.Ceiling((double)Model.Count() / pageSize); }
        @for (int page = 0; page < pages; page++)
        {
            <div class="item @(page == 0 ? "active": "")">
                <div class="row">
                    @{ var prodPage = Model.Skip(page * pageSize).Take(pageSize); }
                    @foreach (var produto in prodPage)
                    {
    <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).png" />
                <a asp-controller="pedido" 
                   asp-action="carrinho" 
                   asp-route-codigo="@produto.Codigo"
                   class="btn btn-success">Add to cart</a>
            </div>
        </div>
    </div>}
                </div>
            </div>
        }


        <!-- Controls -->
        <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
